<header>
  <nav class="clearfix">
    <div class="right-box">
      <a>Home</a>
      <a>Eye</a>
      <a>User</a>
      <button type="button">Takip Et</button>
    </div>
  </nav>
</header>
<body>
  <div class="section">
    <div class="container">
      <a href="/"
        ><h1>{{ title }}</h1></a
      >
      <span style="font-weight: bold">Blog Description: </span
      >{{ blogDescription }}
      <br />
      <span style="font-weight: bold">Total Post: </span>{{ totalPost }}
      <div class="img">
        <img
          src="https://static.tumblr.com/vr9xgox/oiLnf8zpv/rss.gif"
          alt="RSS"
        />
      </div>
      <hr />
    </div>
  </div>
  <div class="section-body">
    <div class="blog" *ngFor="let blog of blogs">
      <div *ngIf="blog.type == 'quote'">
        <span style="margin-left: 25px">Post Type: {{ blog.type }}</span>
        <br />
        <br />
        <div class="container-body flex">
          <div class="left">
            <div class="date">
              {{ blog.date.slice(0, 3) }} &nbsp;
              <div class="date-block">
                {{ blog.date.slice(8, 11) }}
                <br />
                {{ blog.date.slice(5, 7) }}th
              </div>
            </div>
          </div>
          <div class="mid">
            <div class="post-title">
              <div class="vl">
                <span class="span-title">{{ blog["quote-text"] }} </span>
              </div>
              <div class="alinti">
                <small [innerHTML]="blog['quote-source']"></small>
              </div>
            </div>
            <div class="image">
              <img
                src="https://64.media.tumblr.com/tumblr_kzjlfiTnfe1qz4rgho1_400.jpg"
                alt=""
              />
            </div>
            <div class="pass">
              <p>Passing through Times Square by <a href=""></a></p>
            </div>
            <div class="favourite">
              <a href="https://href.li/?denied:http://"
                >My favourite web site</a
              >
              <p>
                {{ blogDescription }}
              </p>
            </div>
            <ul id="conversation" class="v2">
              <li class="list-item">Jack: Hey, you know what sucks?</li>
              <li class="list-item">Lindsey: vacuums</li>
              <li class="list-item">
                Jack: Hey, you know what sucks in a metaphorical sense?
              </li>
            </ul>
          </div>
          <div class="right">
            <input type="text" name="search" />
            <button type="submit">Search</button>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis corporis, eligendi atque unde laboriosam ad corrupti
                error sunt, culpa dolore voluptatem commodi sed velit animi.
                Necessitatibus nulla ullam nemo natus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div *ngIf="blog.type == 'photo'">
        <div class="container-body flex">
          <div class="left"></div>
          <div class="mid"></div>
          <div class="right"></div>
        </div>
      </div>
    </div>
  </div>
</body>
